//=================
//APP Specific CSS
//=================
.App {
    text-align: center;
}
//=================
//HEADSHOT IMAGE CSS
//=================
.headshot {
    height: 200px;
    width: 200px;
    border-radius: 100px
}
//=================
//PROJECT IMAGE CSS
//=================
.projectImage {
    height: 300px;
    width: 500px;
    border-radius: 25px;
}

.projectImage:hover {
    border-left: 8px solid red;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
//=================
//BODY BACKGROUND CSS
//=================
body {
    background-color: #353836;
    color: white;
}
//=================
//HEADER
//=================
header {
    color: white;
}
//=================
//HEADER NAV
//=================
nav{
    display: flex;
    justify-content: space-around;
    border: 3px solid black;
    padding: 8px;
    width: 90%;
    margin: auto;
    
}

nav div {
    color: white;
}




